extends layout

block content
  h1= title
  form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="username", name="username")
        button#btnSubmit(type="submit") Start